*{
    box-sizing: border-box;
    /*dòng trên để khi thay đổi size-content box thì border-box sẽ ko thay đổi */
    padding: 0px;
    margin: 0px;
}
body{
    max-width: 1200 px;
    margin: 0 auto;
    font-family: 'Roboto', Helvetica, sans-serif;
    font-size: 16px;
}

/* Style the header */
.header {
    background-image: url("../img/banner/bannershop2_out\ -\ Copy.png");
    background-size: 100% 100%;

    height: auto;
    padding-bottom: 50%;
  }
  .header .hotline{
    margin: 0;
    float: left;
    padding: 10px;
  }
  .header .cart{
    float: right;
    padding: 2px;
    /* border-bottom: 1px dotted white;
    border-left: 1px dotted white; */
    border-radius: 10px;
  }
  .header .cart:hover{
    color: white;
    background-color: burlywood;
  }
   /* cart */
 .cart-icon {
    position: relative;
}
.cart-icon i {
    font-size: 20px;
}
#showgiohang{
    padding: 10px 10px 10px 10px;
    height: auto;
    margin-right: 240px;
    width: 1000px;
    background-color: azure;
    position: absolute;
    /* box-shadow: 0 0 5px ; */
    border-radius: 10px;
    top: 60px;
    right: 0px;
}
.close {
    color: #aaa;
    position: relative;
    margin-top: 1px;
    margin-left: 10px;
    font-size: 38px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: rgb(238, 0, 0);
    text-decoration: none;
    cursor: pointer;  
}
 /*     */
  /* Top-nav menu */

.top-nav{
    overflow: hidden;
    background-color: white;
    border-bottom: 1px solid lightgray;
}

.top-nav-Left{
    float: left;
    margin: 0;
}

.top-nav .top-nav-Right{
    float: right;
}

.top-nav .top-nav-Left>ul{
    list-style:none ;
    margin: 0;
    padding: 0;
}

.top-nav .top-nav-Right>ul{
    list-style:none ;
    margin: 0;
    padding: 0;
}
.top-nav .top-nav-Left>ul>li{
    display: inline-block;
    padding-right: 15px;
}

.top-nav .top-nav-Right>ul>li{
    display: inline-block;
    padding-left: 15px;
}
.top-nav .top-nav-Left>ul>li>ul{
    display: none;
    position: absolute;
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: white;
    
}
.top-nav-Left>ul>li:hover>ul{
    display: block;
    min-width: 200px;
}
.top-nav .top-nav-Left>ul>li>ul>li{
    border-top: 1px solid lightgray;
}
.top-nav .top-nav-Left>ul>li>ul>li:hover{
    background-color: burlywood;
}
a{
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    color: black;

}

a:hover{
    background-color: burlywood;
    color: white;
}

 /* contents */
 /* left */
 section{
    overflow: hidden;
    background-color: azure;
 }
article{
    min-height: 400px;
    width: 80%;
    background-color: white;
    float:left
}
/*product item*/
.sanpham{
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 10px;
    height: 360px;
    width: 280px;
    float: left;
    text-align: center;
    box-shadow:  0 0 3px burlywood;
    border-radius: 10px;
    background-color: white;
}
.sanpham:hover{
    box-shadow:  0 0 10px burlywood;
}
.sanpham>div>img{
    /* margin-top: 5px; */
    margin-top: 10px;
    margin-bottom: 10px;
    height: auto;
    width: 90%;
    
}
.sanpham>input{
    width: 80px;
    height: auto;
    
}
.sanpham>button{
    margin-left: 5px;
    margin-top: 10px;
    border-radius: 5px;
    width: 100px;
    height: 40px;
    background-color: white;
}
.sanpham>button:hover{
    background-color: burlywood;
    color: white;
}
 ul.products{
    display: flex;
    flex-wrap: wrap;
}
ul.products li{
    flex-basis: 25%;
    list-style: none;
}
.product-top img{
    max-width: 100%;
    /* width max là 100% trong 25% ở flex-bais */ 
} 
.product-item a{
    display: block;
}
.buy-now {
    text-transform: uppercase;
    text-decoration: underline;
} 
.box-content .head-title {
    margin-top: 10px;
}
article .content-detail .product-price del{
    margin-right: 10px;
}
/*          */
/* right */

aside{

    min-height: 400px;
    width: 20%;
    background-color: white;
    float:right;
    text-align: left;
}
.aside-menu{
    border: 1px solid black;
    margin: 5px;
    padding: 0px;
    border-radius: 5px;
    list-style: none;
    text-transform: uppercase;
    
}
.aside-menu>li>a{
    display: block;
    color: black;
    border-bottom: 1px dotted lightgray;
    padding-left: 25px;
}
.aside-menu>li>a:hover{   
    color: white;
    background-color: burlywood;
    text-decoration: none;

}

.title-aside{
    text-align: Center;
}
.head-title{
    text-align: center;
    font-size: larger;
}
.box-content .head-img img{
    width: 100%;
}
.box-content .form-sanpham{
    border: 1px solid black;
    border-radius: 5px;
    text-transform: uppercase;
    margin-right: 2px;
}
.box-content .form-sanpham .form{
    margin-left: 10px;
    padding: 10px;
}
.box-content .form-sanpham .form>input{
    margin-bottom: 5px;
}
/* login form */
article .form-login{
    width: 60%;
    margin: auto;
    padding: 30px;
    background-color: azure;
    text-transform: uppercase;
}

.form-login .login-top input{
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    
}
article .box-content .form-control{
    margin: 20px;
    
}
article .box-content input{
    padding: 10px;
    margin: 10px 0;
}
.form-login .login-bottom input{
    margin: 10px 0;
    padding: 10px 40px;
    cursor: pointer;
    border-radius: 20px;
}
.form-login .login-bottom input:hover{
    background-color: black;
    color: white;
}
/*          */
/* Register form */
.form-register{
    border: 1px solid black;
    border-radius: 10px;
    margin: 30px;
    padding: 30px;
    background-color: white;
    text-transform: uppercase;
    
}
/* .form-register .form-control{
    margin: 20px 0;
} */
/* .form-register .form-control .fullname{
    padding: 10px;
    width: 50%;
} */
.form-control>input, .form-control>textarea{
    padding:10px ;
    width: 70%;
}
.form-button{
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
}
.form-button:hover{
    background-color: black;
    color: white;
}
/*          */
 /* footer */
 footer>div{
    text-align: center;
    color: black;
    background-color: white;
    padding: 5px;
    border-top: 2px solid brown;
 }