<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Trang quản trị</title>
   <link rel="stylesheet" href="../../../assets/css/admin.css">
</head>
<body>
   <header>
      <h1>trang quản trị / dashboard </h1>
      <nav>
         <div class="row">
            <div class="nav-left col-l-70">
               <ul>
                  <a href="../admin.html"><li>trang chủ</li></a>
                  <a href="#"><li class="active">danh mục</li></a>
                  <a href="product.html"><li>sản phẩm</li></a>
                  <a href="customer.html"><li>khách hàng</li></a>
                  <a href="order.html"><li>đơn hàng</li></a>
                  <a href="user.html"><li>quản trị viên</li></a>
               </ul>
            </div>
            <div class="nav-right col-r-30">
               <ul>
                  <li>Chào mừng MinMin</li>
               </ul>
            </div>
         </div>
      </nav>
   </header>

   <section>
      <div class="row">
         <div class="col-l-70">
            <!-- danh mục sản phẩm -->
            <div class="title">
               <h2>danh mục sản phẩm</h2>
            </div>
            <table class="cat">
               <thead>
                  <tr>
                     <th>Id</th>
                     <th>Name</th>
                     <th>Image</th>
                     <th>Created</th>
                     <th>Status</th>
                     <th>Action</th>
                  </tr>
               </thead>
               <tbody>
                  <tr>
                     <td>1</td>
                     <td>Sport Shoes</td>
                     <td>hinh-01.jpg</td>
                     <td>10/01/2024</td>
                     <td>1</td>
                     <td>
                        <a href="">Edit</a> | <a href="">Delete</a>
                     </td>
                  </tr>
                  <tr>
                     <td>2</td>
                     <td>Chilling Shoes</td>
                     <td>hinh-01.jpg</td>
                     <td>10/01/2024</td>
                     <td>1</td>
                     <td>
                        <a href="">Edit</a> | <a href="">Delete</a>
                     </td>
                  </tr>
                  <tr>
                     <td>3</td>
                     <td>Fashion Shoes</td>
                     <td>hinh-01.jpg</td>
                     <td>10/01/2024</td>
                     <td>1</td>
                     <td>
                        <a href="">Edit</a> | <a href="">Delete</a>
                     </td>
                  </tr>
               </tbody>
            </table>
         </div>
         <div class="col-r-30">
            <div class="title">
               <h2>thêm danh mục</h2>
            </div>
            <!-- //form nhập liệu -->
            <form action="" class="frm-cat" enctype="multipart/form-data">
               <input type="text" name="" id="" placeholder="Category name">
               <input type="file" name="" id="">
               <input type="date" name="" id="">
               <div class="status">Status 
                  <label for="enable"><input type="radio" name="status" id="enable" value="1"> Enable</label>
                  <label for="disable"><input type="radio" name="status" id="disable" value="0"> Disable</label>
               </div>
               <div class="btn"><input type="button" value="Add new"></div>
            </form>
         </div>
     </div>
   </section>

   <footer>
      <div class="left">
         <p>Go ahead</p>
       </div>
       <div class="right"> Minh làm hết </div>
   </footer>
</body>
</html>