<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/layout.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Assignment - PS38099 - Nguyễn Hà Xuân Nguyên</title>
</head>
<body>
<!--/ Header -->

<div class="header">
    <div class="hotline"> Hotline 0397843145 </div>
    <div class="cart" onclick="showgiohang()"><a href="#" class="cart-icon"><i class="fa fa-shopping-cart"></i> Giỏ hàng</a></div>
    <div class="showcart"  id="showgiohang"> 
        <span class="close" onclick="closegiohang()">&times;</span>
        <table class="danhsachsanpham">
            <tbody id="danhsachsanpham"></tbody>
        </table>
        <p></p>
    </div>
</div>
<nav>
    <div class="top-nav">
        <div class="top-nav-Left">
            <ul>
                <li><a href="../index.html">Trang chủ</a></li>
                <li><a href="../view/GioiThieu.html" >Giới thiệu</a></li> 
                <li><a href="../view/SanPham.html" >Sản phẩm</a> 
                    <ul>
                        <li><a href="../view/SanPham.html">Sản phẩm khuyến mãi</a></li>
                        <li><a href="../view/SanPham.html">Sản phẩm mới</a></li>
                        <li><a href="../view/SanPham.html">Sản phẩm bán chạy</a></li>    
                    </ul>            
                </li>        
                <li><a href="../view/Blog.html" >Blog</a></li> 
                <li><a href="../view/LienHe.html" >Liên hệ</a></li> 
                <li><a href="../view/HoiDap.html" >Hỏi đáp</a></li> 
            </ul>
        </div>

        <div class="top-nav-Right">

            <ul>
            <li><a href="./DangNhap.html">Đăng Nhập</a></li> 
            <li><a href="../view/DangKy.html">Đăng Ký</a></li>
            </ul>

        </div>
    </div>
</nav>
<!-- contents -->
<section>
    <article>
        <!-- left contents -->
        <div class="box-content">
            <div class="head-title">
                <h2>DANH SÁCH SẢN PHẨM</h2>
            </div>     
            <div id="showsanpham">

            </div>
        </div>        
    </article>
    <aside>
        <!-- right contents -->
        <div class="box-content">
            <div class="head-title">
                <h3>DANH MỤC SẢN PHẨM</h3>
            </div>  
            <ul class="aside-menu">
                <li><a href="../view/SanPham.html" >ÁO</a></li>
                <li><a href="../view/SanPham.html" >ĐẦM</a></li>
                <li><a href="../view/SanPham.html" >QUẦN</a></li>
                <li><a href="../view/SanPham.html" >CHÂN VÁY</a></li>
                <li><a href="../view/SanPham.html" >PHỤ KIỆN</a></li>            
            </ul>
        </div>
        <div class="box-content">
            <div class="head-title">
                <h3>TOP 1 DOANH THU</h3>
            </div>  
            <div class="head-img">
                <img id="img" onclick="changeImage()" src="../img/banner/banner-ads.jpg" alt="">
            </div>        
        </div>
        <div class="box-content">
            <div class="head-title">
                <h3>THÊM SẢN PHẨM</h3>
            </div>  
            <div class="form-sanpham">
                <form  name="myform2">
                    <div class="form">
                    <label for="">Mã sản phẩm</label><br>
                    <input type="type" name="MaSP" id="MaSP"><br>
                    <label for="">Tên sản phẩm</label><br>
                    <input type="text" name="TenSP" id="TenSP"><br>
                    <label for="">Mô tả</label><br>
                    <input type="text" name="CTSP" id="CTSP"><br>
                    <label for="">Giá</label><br>
                    <input type="text" name="Gia" id="Gia"><br>
                    <label for="">Hình</label><br>
                    <input type="text" name="Hinh" id="Hinh"><br>
                    <input type="button" value="thêm" onclick="submitsp()">
                    </div>
                </form>
            </div>
        </div>
        <div><script src="https://uhchat.net/code.php?f=3faa5a"></script></div>
    </aside>
</section>

<footer>
    <div>Copyright 2024 Fpoly.</div>    
</footer>
</body>
</html>
    <script src="../js/sanpham.js"></script>
    <script src="../js/giohang.js"></script>
    <script src="../js/xL_giohang.js"></script>
    <script src="../js/doianh.js"></script>
    