<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang quản trị</title>
    <link rel="stylesheet" href="../layout/css/admin.css">
</head>
<body>
    <header>
        <h1>Trang quản trị / Dashboard</h1>
        <nav>
            <div class="row">
                <div class="nav-left col-55">
                    <ul>
                        <li class="active"><a href="../index.html">trang chủ</a></li>
                        <li><a href="./category.html">danh mục</a></li>
                        <li><a href="./product.html">sản phẩm</a></li>
                        <li><a href="./customer.html">khách hàng</a></li>
                        <li><a href="./order.html">đơn hàng</a></li>
                        <li><a href="./user.html">quản trị viên</a></li>
                    </ul>
                </div>
                <div class="nav-right col-55">
                    <ul>
                        <li><a href="./login.html">Đăng nhập</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <section>
        <div class="box-content">
            <div class="head-title">
                <h3>LOGIN FORM</h3>
            </div>
            <div class="content-detail">
                <form action="" method="" class="form-login">
                    <div class="login-top">
                        <div class="form-control">
                            <label for="">User name</label>
                            <div>
                                <input type="text" name="username" id="username">
                            </div>
                        </div>
                        <div class="form-control">
                            <label for="">Password</label>
                            <div>
                                <input type="password" name="password" id="password">
                            </div>
                        </div>
                    </div>
                    <hr>    
                    <div class="login-bottom">
                        <div class="form-control">
                            <div>
                                <label for="remember">
                                    <input type="checkbox" name="remember" id="remember">remember me
                                </label>
                            </div>
                            <div class="login-btn">
                                <input type="button" value="Login">
                                <span><a href="http://">Forgot password</a></span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <footer>
        <div>Copyright 2024 My Dashboard</div>
    </footer>
</body>
</html>