<!DOCTYPE html>
<head>
  <title>Contact</title>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <link rel="stylesheet" href="../assets/css/style.css" type="text/css" media="all" />
  <link rel="stylesheet" href="../assets/css/form.css" type="text/css" media="all" />
</head>

<body>

  <div id="top">
    <div class="shell">
      <div id="header">
        <div id="navigation">
          <ul>
            <li><a href="../index.html">Home</a></li>
            <li><a href="support.html">Support</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="product.html">Product</a></li>
            <li class="last"><a href="login.html">Login</a></li>
          </ul>
        </div>
      </div>


      <div id="slider">
        <div id="slider-holder">
          <ul>
            <li><a href="#"><img src="../assets/images/slide2.jpg" alt="" /></a></li>
          </ul>
        </div>
      </div>

    </div>
  </div>


  <div id="main">
    <div class="shell">
      <div id="content">
        <div class="tabs">
            <ul>
                <li><a href="#" class="active"><span>Contact</span></a></li>
            </ul>
        </div>
        <div id="container">
            <div class="tab-content" style="display:block;">
                <form action="/submit-your-feedback" method="post">
                    <label for="name">Name:</label><br>
                    <input type="text" id="name" name="name" required><br>
                    
                    <label for="email">Email:</label><br>
                    <input type="email" id="email" name="email" required><br>
                    
                    <label for="phone">Phone Number:</label><br>
                    <input type="tel" id="phone" name="phone" pattern="[0-9]{10}" required><br>
                    
                    
                    <div>&nbsp;</div>
                    <input type="submit" value="Submit">
                  </form> 
            </div>
         
            <div class="brands">
                <h3>Brands</h3>
                <div class="logos">
                    <a href="#"><img src="../assets/images/logo1.gif" alt="" /></a>
                    <a href="#"><img src="../assets/images/logo2.gif" alt="" /></a>
                    <a href="#"><img src="../assets/images/logo3.gif" alt="" /></a>
                    <a href="#"><img src="../assets/images/logo4.gif" alt="" /></a>
                    <a href="#"><img src="../assets/images/logo5.gif" alt="" /></a>
                </div>
            </div>


            <div id="footer">
                <div class="left">
                    <a href="#">Home</a>
                    <span>|</span>
                    <a href="#">Support</a>
                    <span>|</span>
                    <a href="#">My Account</a>
                    <span>|</span>
                    <a href="#">The Store</a>
                    <span>|</span>
                    <a href="#">Contact</a>
                </div>
                <div class="right"> Minh làm hết </div>
            </div>

        </div>

    </div>

    </div>
  </div>
  <script src="https://uhchat.net/code.php?f=ff5ce4"></script>
</body>

</html>