<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="../assets/css/login.css">

</head>

<body>

    <div class="screen">
        
        
        <div class="password">
            <label for="password"> New Password</label>
            <div class="sec-2">
                <ion-icon name="lock-closed-outline"></ion-icon>
                <input class="pas" type="password" name="password" placeholder="" />
                <ion-icon class="show-hide" name="eye-outline"></ion-icon>
            </div>
        </div>
        <div class="password">
            <label for="password">Confirm New Password</label>
            <div class="sec-2">
                <ion-icon name="lock-closed-outline"></ion-icon>
                <input class="pas" type="password" name="password" placeholder="" />
                <ion-icon class="show-hide" name="eye-outline"></ion-icon>
            </div>
        </div>
        <div class="email">
            <label for="email">OTP</label>
            <div class="sec-2">
                <ion-icon name="mail-outline"></ion-icon>
                <input type="text" name="email" placeholder="" />
            </div>
        </div>
        <a href="login.html"><button class="login">Submit </button></a>
    </div>

</body>

</html>