<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="../assets/css/login.css">

</head>

<body>

    <div class="screen">
        
        <div class="email">
            <label for="email">Email Address</label>
            <div class="sec-2">
                <ion-icon name="mail-outline"></ion-icon>
                <input type="email" name="email" id="email" placeholder="Username@gmail.com" />
            </div>
        </div>
        <div class="password">
            <label for="password">Password</label>
            <div class="sec-2">
                <ion-icon name="lock-closed-outline"></ion-icon>
                <input class="pas" type="password" name="password" id="mk" placeholder="············" />
                <ion-icon class="show-hide" name="eye-outline"></ion-icon>
            </div>
        </div>
        <a href="#"><button class="login" onclick=" dangnhap()">Login </button></a>
        <div class="footer"><a href="register.html"><span>Signup</span></a><a href="forgot_password.html"><span>Forgot Password?</span></a></div>
    </div>

</body>
<script src="../js/login.js"></script>
</html>