<!DOCTYPE html>
<head>
  <title>Product</title>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <link rel="stylesheet" href="../assets/css/style.css" type="text/css" media="all" />
  <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="../assets/css/plugins.css">
  <link rel="stylesheet" href="../assets/css/single-product.css">
  <script src="https://uhchat.net/code.php?f=ff5ce4"></script>
  
</head>

<body>
  

  <div id="top">

    <div class="shell">
      <div id="header">
        <div id="navigation">
          <ul>
            <li><a href="../index.html">Home</a></li>
            <li><a href="support.html">Support</a></li>
            <li><a href="contact.html">Contact</a></li>
            <li><a href="#">Product</a></li>
            <li class="last"><a href="login.html">Login</a></li>
          </ul>
        </div>
      </div>
      <div id="slider">
        <div id="slider-holder">
          <ul>
            <li><a href="#"><img src="../assets/images/slide2.jpg" alt="" /></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div id="main">
    <div class="shell">
      <div id="content">
        <div id="container">
          <div class="tabbed">
            <div class="single-product-section section pt-30 pt-lg-80 pt-md-70 pt-sm-60 pt-xs-50 pb-100 pb-lg-80 pb-md-70 pb-sm-30 pb-xs-20">
                <div class="container">
                    <div class="row">
                        <div class="col-md-5">
                            <!-- Product Details Left -->
                            <div class="product-details-left">
                                <div class="product-details-images slider-lg-image-1 tf-element-carousel" data-slick-options='{
                                    "slidesToShow": 1,
                                    "slidesToScroll": 1,
                                    "infinite": true,
                                    "asNavFor": ".slider-thumbs-1",
                                    "arrows": false,
                                    "prevArrow": {"buttonClass": "slick-btn slick-prev", "iconClass": "fa fa-angle-left" },
                                    "nextArrow": {"buttonClass": "slick-btn slick-next", "iconClass": "fa fa-angle-right" }
                                    }'>
                                    <div id="lg-image">
                                        
                                    </div>
                                </div>
                                
                            </div>
                            <!--Product Details Left -->
                        </div>
                        <div class="col-md-7">
                            <!--Product Details Content Start-->
                            <div class="product-details-content">
                              <div id="showProductDetail">
                              </div>
                                <div class="single-product-quantity">
                                    <form class="add-quantity" action="#">
                                        <div class="product-quantity">
                                            <input value="1" type="number">
                                        </div>
                                        <div class="add-to-link">
                                            <button class="product-add-btn" data-text="add to cart">add to cart</button>
                                        </div>
                                    </form>
                                </div>
                                <div class="wishlist-compare-btn">
                                    <a href="#" class="wishlist-btn">Add to Wishlist</a>
                                    <a href="#" class="add-compare">Compare</a>
                                </div>
                                <div class="product-meta">
                                    <span class="posted-in">
                                        Categories:
                                        <a href="#">Sport Shoes</a>,
                                        <a href="#">Chilling Shoes</a>
                                    </span>
                                </div>
                                <div class="single-product-sharing">
                                    <h3>Share this product</h3>
                                  
                                </div>
                            </div>
                            <!--Product Details Content End-->
                        </div>
                    </div>
                </div>
            </div>
              
          </div>

          <div class="brands">
            <h3>Brands</h3>
            <div class="logos"> 
              <a href="#"><img src="../assets/images/logo1.gif" alt="" /></a> 
              <a href="#"><img src="../assets/images/logo2.gif" alt="" /></a> 
              <a href="#"><img src="../assets/images/logo3.gif" alt="" /></a> 
              <a href="#"><img src="../assets/images/logo4.gif" alt="" /></a> 
              <a href="#"><img src="../assets/images/logo5.gif" alt="" /></a> 
            </div>
          </div>


          <div id="footer">
            <div class="left">
              <a href="#">Home</a> 
              <span>|</span>
              <a href="#">Support</a> 
              <span>|</span> 
              <a href="#">My Account</a> 
              <span>|</span> 
              <a href="#">The Store</a> 
              <span>|</span> 
              <a href="#">Contact</a> 
            </div>
            <div class="right"> Minh làm hết </div>
          </div>

        </div>

      </div>

    </div>
  </div>
  
</body>
<script src="../js/product.js"></script>
<script src="../js/singleProduct.js"></script>
<script src="js/cart.js"></script>
<script src="js/cart-xl.js"></script>
</html>